vorticity_simulation/build
.vscode
.DS_Store
vorticity_viscosity.mp4
vorticity_no_viscosity.mp4
vorticity_0.02.mp4
vorticity_256_visco.mp4
vorticity_256.mp4
vorticity_simulation/.DS_Store
output_py
stream_func.mp4
velocity.mp4
vorticity_simulation/.DS_Store
